<div class="container" style="margin-bottom: 320px;">
    
    <div class="contents">

        <p id="adq">Como adquirir</p>
        <div id="adq-context" class="info">
            <span>conteudo</span>
        </div>

        <p id="pfe">Política de frete e envios</p>
        <div id="pfe-context" class="info">
            <span class="perg">Em quanto tempo o produto que comprei será enviado?</span>
            <br/>
            <span class="resp">Produtos adquiridos em nosso site, após a confirmação do pagamento, têm prazo de um dia útil para serem enviados.</span> 
            <br/>
            <br/>
            <span class="perg">Como será feito o envio dos produtos?</span>
            <br/>
            <span class="resp">Todos os tênis serão enviados tendo suas caixas originais envoltas por plástico bolha e dentro de uma caixa de papelão adicional, garantindo a você a entrega de um produto o mais protegido possível!</span>
            <br/>
            <br/>
            <span class="perg">Vocês usam quais tipos de transportadora?</span>
            <br/>
            <span class="resp">No momento estamos usando Correios via PAC ou Sedex.
            Em breve esperamos contar também com a Jadlog em nosso site!
            O cliente que já for familiarizado com a Jadlog, poderá nos chamar no Instagram para programar o envio com a mesma, garantindo uma melhor experiência com a entrega.</span>
            <br/>
            <br/>
            <span class="perg">Eu receberei algum código de rastreio?</span>
            <br/>
            <span class="resp">Sim! Você receberá o código de rastreio no e-mail cadastrado ou, se houver contato via Instagram, também encaminharemos pelo mesmo, para agilizar o atendimento!</span>
        </div>

        <p id="ptd">Política de troca e devolução</p>
        <div id="ptd-context" class="info">
            <span>conteudo</span>
        </div>

        <p id="pr">Política de reembolso</p>
        <div id="pr-context" class="info">
            <span>conteudo</span>
        </div>

        <p id="pv">Política de privacidade</p>
        <div id="pv-context" class="info">
            <span>conteudo</span>
        </div>

    </div>

</div>