<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="contents">

                <p id="adq">Como adquirir</p>
                <div id="adq-context" class="info">
                    <span class="perg">Como adquirir</span>
                    <br/>
                    <span class="resp">
                        Para adquirir um  produto com a gente é bem simples! 
                        Primeiro, você precisará criar uma conta em nosso site e estar conectado nela na hora do processo de compra, para que possamos receber seus dados na hora de fazer o envio.
                        Após estar conectado em sua conta, acesse nossa vitrine virtual pela aba "Sneakers" ou, se estiver procurando algum sneaker específico dentro dos nossos três best-sellers, 
                        clique em "Air Jordan", "Dunk" ou "Yeezy", você será redirecionado para a vitrine específica desses modelos!
                        Ao escolher o tênis desejado, escolha um tamanho e clique em "Adicionar ao carrinho", para que o tênis seja adicionado ao carrinho! 
                        <br/>
                        <span style="color: red;font-weight: bold;">Atenção:</span> Adicionar ao carrinho não garante o produto! Ele ainda poderá ser comprado por outra pessoa e o estoque é extremamente limitado!
                    </span>
                    <br/>
                    <span class="resp">
                        Após ter adicionado ao carrinho, vá na parte superior direita da tela e procure pelo símbolo do carrinho, por lá, você poderá selecionar o frete e continuar para a seleção de método de pagamento.
                        Agora é bem simples! Só selecionar o método de pagamento desejado, seja por Mercado Pago (onde você poderá pagar no cartão de crédito, boleto ou cartão de débito virtual Caixa) ou por PIX, garantindo 10% de desconto!
                        <br/>
                        <span style="color: red;font-weight: bold;">Atenção:</span> Para pagar com PIX é necessário entrar em contato conosco pelo Instagram!
                    </span>
                </div>
        
                <p id="tms">Termos de serviço</p>
                <div id="tms-context" class="info">
                    - Nós, da Gsv Apparel, garantimos autenticidade total em nossos produtos;
                    <br/>
                    - A maioria dos produtos são adquiridos diretamente com a Nike Brasil ou com lojas autorizadas à venda de tênis exclusivos;
                    <br/>
                    - Os produtos estão sujeitos a alteração de valores sem aviso prévio;
                    <br/>
                    - Todo e qualquer contato conosco deverá ser feito exclusivamente por meio de nossas redes sociais:
                    <br/>
                    <br/>
                    Instagram: @gsv.apparel
                    <br/>
                    Whats App: (11) 97030-0761
                </div>
        
                <p id="pfe">Política de frete e envios</p>
                <div id="pfe-context" class="info">
                    <span class="perg">Em quanto tempo o produto que comprei será enviado?</span>
                    <br/>
                    <span class="resp">Produtos adquiridos em nosso site, após a confirmação do pagamento, têm prazo de um dia útil para serem enviados.</span> 
                    <br/>
                    <br/>
                    <span class="perg">Como será feito o envio dos produtos?</span>
                    <br/>
                    <span class="resp">Todos os tênis serão enviados tendo suas caixas originais envoltas por plástico bolha e dentro de uma caixa de papelão adicional, garantindo a você a entrega de um produto o mais protegido possível!</span>
                    <br/>
                    <br/>
                    <span class="perg">Vocês usam quais tipos de transportadora?</span>
                    <br/>
                    <span class="resp">No momento estamos usando Correios via PAC ou Sedex.
                    Em breve esperamos contar também com a Jadlog em nosso site!
                    O cliente que já for familiarizado com a Jadlog, poderá nos chamar no Instagram para programar o envio com a mesma, garantindo uma melhor experiência com a entrega.</span>
                    <br/>
                    <br/>
                    <span class="perg">Eu receberei algum código de rastreio?</span>
                    <br/>
                    <span class="resp">Sim! Você receberá o código de rastreio no e-mail cadastrado ou, se houver contato via Instagram, também encaminharemos pelo mesmo, para agilizar o atendimento!</span>
                </div>
        
                <p id="ptd">Política de troca e devolução</p>
                <div id="ptd-context" class="info">
                    <span class="perg">Trocas e devoluções serão realizadas nos seguintes casos:</span>
                        <br/>
                        <br/>
                    <span class="resp" style="padding: 0px;">
                        - Desistência e/ou arrependimento da compra no período de 7 dias corridos após o recebimento do produto;
                        <br/>
                        - Defeitos;
                        <br/>
                        - Numeração errada
                        <br/>
                        <br/>
                        <span class="resp">Conseguiremos realizar trocas apenas em produtos que temos em estoque, como nosso estoque é bem limitado, pode acontecer de não termos numeração exata de um certo modelo.</span>
                        <br/>
                        <span class="resp">Para solicitar troca ou devolução, entre em contato pelo nosso Instagram!</span>
                        <br/>
                        <span class="resp">Os custos de frete para troca e devolução serão por conta da Gsv Apparel.</span>
                        <br/>
                        <span class="resp" style="color: red; font-weight: bold;">Observação:</span> para troca/devolução, o produto precisa estar acompanhado de sua caixa original, além do que não poderá ter sido violado, usado ou danificado e deverá ser enviado em embalagem adicional que garanta sua integridade.
                    </span>
                </div>
        
                <p id="pr">Política de reembolso</p>
                <div id="pr-context" class="info">
                    <span class="perg">O reembolso será sempre feito de acordo com o método de pagamento utilizado:</span>
                    <br/>
                    <br/>
                    <span style="color: rgb(0, 214, 0);font-weight: bold;">PIX:</span> O reembolso será feito diretamente na chave pix que o cliente nos informar pelos nossos meios de contato
                    <br/>
                    <span style="color: rgb(98, 98, 253);font-weight: bold;">Mercado Pago:</span> O reembolso será feito diretamente pelo Mercado Pago, onde o valor será estornado no cartão.
                    <br/>
                    <br/>
                    <span style="color: red; font-weight: bold;">Lembre-se:</span> Para solicitar o reembolso, o cliente deverá entrar em contato conosco por meio de nossas redes sociais (Instagram ou Whats App)
                </div>
        
                <p id="pv">Política de privacidade</p>
                <div id="pv-context" class="info">
                    <span>conteudo</span>
                </div>
        
            </div>
        </div>
    </div>
</div>