.container{
    font-family: 'Roboto';
}

.contents p{
    line-height: 96px;
}

.contents p{
    font-family: 'Oswald';
    font-size: 25px;
    cursor: pointer;
}

.contents p:hover{
    color: gray;
}

.info{
    text-align: justify;
    height: auto;
    display: none;
    padding: 10px;
}

.perg{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.resp{
    padding: 10px;
}

