*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html,body{  
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}



.shoes-welcome{
    text-align: center;
    padding: 65px;
    font-size: 22px;
}


.shoes-welcome h2{
    border-bottom: 1px solid black;
    width: 50%;
    margin: 0 auto;
}



.tenis-section{
    text-align: left;
    padding: 10px 120px;
}



.tenis-section-wraper{
    display: inline-block;
    width: 33%;
}



.tenis-single{
    display: inline-block;
    width:75%;
    height: 348px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url('../images/Categoria_tenis.jpg');*/
    cursor: pointer;
    margin-top: 15px;
}

.fotoCategoriaShoes{
    background-image: url('../../../images/Categoria_tenis.jpg');
}



/** Informações dos Produtos **/

.maismenos > .botao-compra{
    background-color: #c36ee2;
    color: white;
    border: 0px solid white;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 5%;
    transition: 0.2s;
}

.maismenos > .botao-compra:hover{
    background-color: #ab57c9;
    padding-left: calc(24px - 3px);
    padding-right: calc(24px - 3px);
}




/************************/


@media screen and (max-width: 720px) {
        .tenis-section-wraper{
            width: 100%;
        }

        .tenis-single{
            width: 100%;
        }

        .shoes-welcome h2{
            width: 110%;
        }
  }

  @media screen and (max-width: 710px){
      .tenis-section-wraper{
          width: 120%;
      }
  }