<div class="shoes-welcome">
  <h2>CONFIRA NOSSOS TÊNIS</h2>
</div><!--shoes-welcome-->




<div class="tenis-section" id="tenis-wp">
  <!-- TODOS OS ITENS SERÃO ADICIONADOS AQUI, DINAMICAMENTE -->

  <div class="row">
    
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let item of tenis; " >
      
    <div class="fotoCategoriaShoes tenis-single produtoHr">
    </div><!--tenis-single-->

    <div class="info-product">
        <h3>{{item.nome}}</h3>
        <p>Gênero</p>
        <p style="color:#2b922c;">R$ 200</p>
    </div><!--info-product-->
    
    <div class="maismenos">
      <button class="botao-compra" (click)="adicionarCarrinho(item.idProdutos, item.nome, item.preco, item.quantidade)">Adicionar no carrinho</button>
    </div><!--maismenos-->

    </div>
    </div><!--tenis-section-wraper-->

</div><!--tenis-section-->



