.titulo {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.divide-titulo {
    height: 1px;
    background: linear-gradient(to right, transparent, #464646, transparent);
    margin-left: 370px;
    margin-right: 370px;
  }

.filtro {
    width: 20%;
}

mat-radio-button {
    margin: 0px 7px 0px 7px;
}

.sub-buscar {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

.busca {
    width: 35%;
    margin-bottom: 30px;
}

// CARD

.card {
    width: 300px;
}

.nome {
    font-size: 24px;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preco {
    font-size: 14px;
}

.box-card {
    margin-bottom: 30px;
}

.btn-visualizar {
    background-color: #c36ee2;
    color: #ffffff;
    border: 0px solid white;
    padding: 0px 15px;
    align-items: center;
    transition: 0.2s;
    border-radius: 15px 5px 15px 5px;

    position: relative;
    left: 5px;
}

.btn-visualizar:hover {
    background-color: #ab57c9;
    transition: 0.2s;
}

.btn-carrinho {
    position: relative;
    left: 100px;
}

