<div class="carregando" *ngIf="carregando">
    <img src="https://i.imgur.com/gnuXFbP.gif" width="100px">
    <p>Carregando...</p>
</div>

<div class="container main" *ngIf="!carregando">
    <div class="row">
        <div class="col text-center" style="margin-bottom: 30%;">
            
            <div class="caixa">
                <p>Nº do pedido: <span style="font-weight: bold;">{{idPedido}}</span></p>
                <div *ngFor="let p of pedidoDet">
                    <p>Nome do produto: <span style="font-weight: bold;">{{p.nome}}</span></p>
                </div>
                <p>Tamanho:</p>
                <hr />
                <p>Status do pedido: <span style="font-weight: bold;">{{STATUS}}</span></p>
                <p>Total: <span style="font-weight: bold;">{{somado | currency:'BRL'}}</span></p>
            </div>

            <p style="padding-top: 20px;">Algum problema? Entre em contato no e-mail: gsv@gsv.com</p>
        </div>
    </div>
</div>

<!--{{p.preco | currency:'BRL'}}-->