@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&display=swap');

.navBar{
  height: 46px !important;
  background-color: #c97eec;
  font-family: 'Roboto', sans-serif !important;
  position: relative;

.textPrincipal{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3d343d;
  }
  
  ul{
    padding: 0 20px;
    a{
      font-size: 16;
      color: white;
    }
    .fa-instagram{
      font-size: 20px;
      color: white;
    }
    li{
      cursor: pointer;
    }
  }
 
}

.second-navbar{
  height: 36px !important;
  background-color: #7b3a99;
  font-family: 'Roboto', sans-serif !important;
  position: relative;

.textPrincipal{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3d343d;
  }
  
  ul{
    margin: 0 auto;
    padding: 0 20px;
    a{
      font-size: 16;
      color: white;
    }
    .fa-instagram{
      font-size: 20px;
      color: white;
    }
    li{
      cursor: pointer;
    }
  }
 
}

@media screen and (max-width: 1480px) {
  .navBar ul{
    left: 0px;
  }
}

@media screen and (max-width: 1200px) {
    .navBar ul{
      left: 0px;
    }
}