.only-mobile {
  display: none;
}

.navbar-carrinho {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  padding-left: 330px;
  padding-right: 330px;

  background-color: #260436;
  color: #ebebeb;
}

.txt-carrinho {
  text-decoration: none;
  color: #f3f3f3;
}

.txt-carrinho:hover {
  text-decoration: none;
  color: #d6d6d6;
}

// ###################################################

.navbar-menu {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  padding-left: 340px;
  padding-right: 340px;

  background-color: #f2dcfc;
  color: #111111;
}

.txt-menu {
  text-decoration: none;
  color: #111111;
}

.txt-menu:hover {
  text-decoration: none;
  color: #1d1d1d;
}

@media (max-width: 991px) {
  .navbar-menu {
    padding-left: 12px;
    padding-right: 12px;
  }

  .only-pc {
    display: none;
  }

  .only-mobile {
    background-color: #260436;
    color: #f3f3f3;
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .item-mobile {
    margin: 5px 10px 5px 10px;
  }
}