*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html,body{  
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}



.vestWelcome{
    text-align: center;
    padding: 65px;
    font-size: 22px;
}

.vestWelcome h2{
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid black;
}


.section-vest{
    text-align: center;
    padding: 10px 120px;
}


.vest-wraper{
    display: inline-block;
    width: 33%;
}


.vest-single{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 15px 0px 30px 0;
}

.fotoCategoriaTshirt{
    background-image: url('../../../images/Categoria_roupa.jpg');
}


/** Informações dos Produtos **/

.maismenos > .botao-compra{
    background-color: #f1e9f2;
    color: #3d343d;
    border: 2px solid #dfd5e0;
    padding: 10px;
    transition: 0.5s;
}

.maismenos > .botao-compra:hover{
    background-color: #f7f1f7;
    padding-left: calc(30px - 10px);
    padding-right: calc(25px - 10px);
}