
        <div class="vestWelcome">
            <h2>CONFIRA NOSSO VESTUÁRIO</h2>
        </div><!--vestWelcome-->



        <div  class="container " id="vestWp">
            <!-- TODOS OS ITENS SERÃO ADICIONADOS AQUI, DINAMICAMENTE -->

            <div class="row ">
                <div class="col-md-4 col-sm-6 col-12
                " *ngFor="let item of produtos;"> 

                <div class="vest-single productHy">
                    <img src="{{item.imagem}}" width="200px" />
                </div>
                <div class="info-product">
                    <h3>{{item.nome}}</h3>
                    <p>Genero</p>
                    <p style="color:#2b922c;">{{item.preco | currency: 'BRL'}}</p>
                </div>
            </div>
        </div>

  