<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="carrinho">
                <h1>Carrinho de Compras</h1>
                <div style="font-family: sans-serif;" *ngFor="let i of itemsCarrinho; let ind = index">Produto: {{i.Nome}} - Preço: {{i.Preco | currency:'BRL'}} - Quantidade disponivel: {{i.Quantidade}} <button class="botao-remover" (click)="removerItem(ind)">X</button></div>

                <!-- Botoes de compra -->
                <div class="login" id="aqui" *ngIf="usuario == null && itemsCarrinho.length != 0">
                    <h1>É necessário realizar login para finalizar a compra</h1>
                    <button class="btn btn-default" routerLink="/login">Login</button>
                </div>

                <div class="login" *ngIf="usuario != null && itemsCarrinho.length != 0">
                    <button class="btn btn-default" (click)="finalizar()" id="button-checkout">Finalizar Compra</button>
                </div>

                <div class="login" *ngIf="itemsCarrinho.length == 0">
                    <h1>O carrinho está vazio!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h1 id="price">{{precoSomado}}</h1> -->