.login {
    margin-top: 45px;
    margin-bottom: 30px;
}

.login h1 {
    font-size: 18px;
}

.login button {
    background-color: #c36ee2;
    color: white;
    width: 165px;
    height: 40px;
    align-items: center;

    transition: 0.2s;
}

.login button:hover {
    background-color: #ab57c9;

    /*width: 170px;*/
}

.botao-remover{
    background-color: #c36ee2;
    color: white;
    border: 0px solid white;
    width: 165px;
    height: 40px;
    align-items: center;
    margin-bottom: 15%;
    transition: 0.2s;
}

.botao-remover:hover {
    background-color: #ab57c9;
}

.carrinho {
    margin-bottom: 75px;
}


/** Informações do Produto **/
.informacoes-produto{
    width: 40%;
    margin: 0 auto;
    border-top: 1px solid rgb(206, 200, 200);
    border-bottom: 1px solid rgb(206, 200, 200);
    padding-top: 60px;
    text-align: right;
}


.info-imagem{
    float:left;
}

.info-imagem > img{
    width: 160px;
    max-width: 160px;
}