<div class="container" style="margin-bottom: 120px;">
    <div class="row">
        <div class="col">
            <div class="metodos">
                <h1 style="text-align: justify;">Finalizar sua Compra</h1>
                <p style="text-align: justify;">Para continuar comprando, selecione o <span style="font-weight: bold;">Método de Pagamento</span></p>
                <button class="btnMercadoPago" (click)="goMercadoPago()">Mercado Pago</button>
                <br/>
                <br/>
                <a href="https://www.instagram.com/gsv.apparel/" target="_blank">
                    <button class="btnPix">PIX</button>
                </a>
            </div>
        </div>
    </div>
</div>