.metodos {
    margin: 30px 0px 125px 0px;
}

.btnMercadoPago {
    background-color: #00aeee;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px 10px;

    transition: 0.5s;
}

.btnMercadoPago:hover {
    background-color: #007eac;

    transition: 0.5s;
}


.btnPix{
    background-color: rgb(0, 209, 0);
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 20px 10px;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.btnPix:hover{
    background-color: rgb(0, 133, 0);
    transition: 0.5s;
}
