
.logo{
    width: 430px;
    margin: 0 auto;
}

.logo-image{
    width: 430px;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/GSV_APPAREL_LOGO.png');
    position: relative;
    top: -80px;
}


.foto{

    height: 720px !important;
    width:auto;
    width: 1480px !important;

    background-image: url('../../../images/image_data_01.png');
}

.foto2{

    height: 720px !important;
    width:auto;
    width: 1480px !important;
    
    background-image: url('../../../images/image_data_02.png');
}

.foto3{

    height: 720px !important;
    width:auto;
    width: 1480px !important;

    background-image: url('../../../images/image_data_03.png');
}

.fotoCategoriaVest{
    background-image: url('../../../images/Categoria_roupa.jpg');
    padding: 10px;
}

.fotoCategoriaShoes{
    background-image: url('../../../images/Categoria_tenis.jpg');
    margin-right: 3px;

}



.clear{
    clear: both;
}

.containerSlide{
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
}


.menu-desktop{
    float: right;
    position: relative;
    right: 0;
    top: 50%;
    transform: translate(-0%,-120%);
    transform:translate(-0%,-120%);
    transform:translate(-0%,-120%);
}

.menu-desktop ul li{
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}


.images-data{
    position: relative;
    right:0;
    top:50%;
    transform: translate(0%,10%);
    transform:translate(0%,10%);
    transform:translate(0%,10%);
}


.image-data-single{
    display: none;
    margin: 0 auto;
    width: 75%;
    height:360px;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(10%,0%);
    transform: translate(10%,0%);
    transform: translate(10%,0%);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.categorias-home{
    margin: 0 auto;
    margin-top: 790px;
    width: 100%;
}

.categorias-home-content{
    text-align: center;
    padding: 10px 0;
}

.categorias-home-content h2{
    text-align: center;
    padding: 40px 0;
}

.categorias-home .categorias-home-content .categorias-single{
    width: 500px;
    height: 340px;
    padding: 105px;
    display: inline-block;
    cursor: pointer;
    /*background-image: linear-gradient(#ff00d4, #b31982);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    transition: 0.5s;
    font-size: 22px;
}

.categorias-home .categorias-home-content .categorias-single:hover{
    
}


.row-content{
    width: 172.3%;
    height: 90px;
    position: relative;
    transform: translate(-21%,146px);
    background-color: rgba(1,1,1,0.8);
}


.row-content a{
    color: white;
    outline: 0;
}


.product-home{
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    background-color: rgba(230,230,230,0.4);
    min-height: 600px;
}

.arrows-change{
    font-size: 38px;
    color: gray;
}

.arrows-change .fa-chevron-circle-right{
    margin-left: 10px;
    cursor: pointer;
}

.arrows-change .fa-chevron-circle-left{
    margin-right: 10px;
    cursor: pointer;
}


.content-wraper{
    display: none;
}

.product-wraper{
    display: inline-block;
    width: 33%;
    padding: 20px 0;
}



.product-content-single{
    display: inline-block;
    width:90%;
    height: 348px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.info-product{
   text-align: center;
   line-height: 5px;
}

.info-product h3{
   cursor: pointer;
}


.maismenos > .botao-compra{
    background-color: #c36ee2;
    color: white;
    border: 0px solid white;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 5%;
    transition: 0.2s;
}

.maismenos > .botao-compra:hover{
    background-color: #ab57c9;
    padding-left: calc(24px - 3px);
    padding-right: calc(24px - 3px);
}



.espaco{
    height: 100px;
    background-color: white;
}

.destaque{
    background-color: rgba(230,230,230,0.4)
}