<div > 

    <div class="faixa">
        <p>PARCELAMOS EM 10x SEM JUROS</p>
    </div>
    
    <div class="container">

        <!--<p style="font-size:40px; margin-top: 20px;text-align: center;">GSV APPAREL</p>-->

        <!-- <div class="logo">
            <div class="logo-image"></div>
        </div> -->

        <div class="container">
            <header>
                <div class="home-data">
                    <div class="containerSlide">
                        <div class="images-data">
                            <div class="image-data-single foto"></div>
                            <div class="image-data-single foto2"></div>
                            <div class="image-data-single foto3"></div>
                            <!-- <div class="image-data-single" style="background-image:url('../images/image_data_02.jpg');"></div>
                        <div class="image-data-single" style="background-image:url('../images/image_data_03.jpg');"></div> -->
                            <!-- image-data-single -->
                        </div>
                        <!--images-data-->
                    </div>
                    <!--container-->
                </div>
                <!--home-data-->
            </header>


            <!-- Page Features -->
            <div class="row ">
                <section class="categorias-home">
                    <div class="container">
                        <div class="categorias-home-content">
                            <h2>PRINCIPAIS CATEGORIAS <i class="fa fa-list-ul"></i></h2>
                            <!--
                            <div id="categoryShoesClick" class="fotoCategoriaShoes categorias-single">
                                <div class="row-content">
                                    <p [routerLink]="['/tenis']">Nike Dunk <i [routerLink]="['/tenis']" class="far fa-arrow-alt-circle-right"></i></p>
                                </div>
                            </div>
                        -->
                            <div id="categoryShoesClick" class="fotoCategoriaShoes categorias-single jordan">
                                <div class="row-content">
                                    <p [routerLink]="['/tenis/jordan']" style="padding: 5px;">NIKE AIR JORDAN</p>
                                </div>
                            </div>
                            <div id="categoryShoesClick" class="fotoCategoriaShoes categorias-single yeezy">
                                <div class="row-content">
                                    <p [routerLink]="['/tenis/yeezy']" style="padding: 5px;">ADIDAS YEEZY</p>
                                </div>
                            </div>

                            <!-- <div id="categoryVestClick" class="fotoCategoriaVest  categorias-single">
                                <div class="row-content">
                                    <p [routerLink]="['/vestuario']">Vestuário <i [routerLink]="['/vestuario']" class="far fa-arrow-alt-circle-right"></i></p>
                                </div>
                            </div> -->
                        </div>
                        <!--categorias-home-content-->
                    </div>
                    <!--container-->


                </section>
                <!--categorias-home-->
            </div>
            <!-- /.row -->
        </div>
    </div>

</div>