.faixa{
    background-color: #1d1d1d;
    width: 100%;
    height: 40px;
}

.faixa p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Roboto';
    letter-spacing: 7px;
}

.logo{
    width: 430px;
    margin: 0 auto;
}

.logo-image{
    width: 430px;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/GSV_APPAREL_LOGO.png');
    position: relative;
    top: -80px;
}


.foto{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/gsv-pro-inicio.jpg');
}

.foto2{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/J-low-mocha-teste.jpg');
}

.foto3{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/J-low-mocha-teste.jpg');
}

.containerSlide{
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
}


.images-data{
    position: relative;
    right:-10%;
    top:50%;
    transform: translate(0%,10%);
    transform: translate(0%,10%);
    transform: translate(0%,10%);
    margin: 100px 0;
}


.image-data-single{
    display: none;
    margin: 0 auto;
    width: 75%;
    height:360px;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(10%,-10%);
    transform: translate(10%,-10%);
    transform: translate(10%,-10%);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.categorias-home{
    margin: 0 auto;
    margin-top: 650px;
    margin-bottom: 100px;
    width: 100%;
}

.categorias-home-content{
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.categorias-home-content h2{
    text-align: center;
    padding: 40px 0;
}

.categorias-home .categorias-home-content .categorias-single{
    width: 500px;
    height: 340px;
    padding: 105px;
    display: inline-block;
    /*background-image: linear-gradient(#ff00d4, #b31982);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    transition: 0.5s;
    font-size: 22px;
    letter-spacing: 2px;
    cursor: pointer;
}

.row-content{
    width: 172.3%;
    height: 50px;
    position: relative;
    transform: translate(-21%,185px);
    background-color: rgba(1,1,1,0.8);
    cursor: pointer;
}


.row-content a{
    color: white;
    outline: 0;
}

.jordan{
    background-image: url('../../../images/Jordan-Brand.jpg');
}

.yeezy{
    background-image: url('../../../images/yeezy-brand.jpg');
}

.product-home{
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    background-color: rgba(230,230,230,0.4);
    min-height: 600px;
}

.arrows-change{
    font-size: 38px;
    color: gray;
}

.arrows-change .fa-chevron-circle-right{
    margin-left: 10px;
    cursor: pointer;
}

.arrows-change .fa-chevron-circle-left{
    margin-right: 10px;
    cursor: pointer;
}


.content-wraper{
    display: none;
}

.product-wraper{
    display: inline-block;
    width: 33%;
    padding: 20px 0;
}



.product-content-single{
    display: inline-block;
    width:90%;
    height: 348px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.info-product{
   text-align: center;
   line-height: 5px;
}

.info-product h3{
   cursor: pointer;
}


.maismenos > .botao-compra{
    background-color: #c36ee2;
    color: white;
    border: 0px solid white;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 5%;
    transition: 0.2s;
}

.maismenos > .botao-compra:hover{
    background-color: #ab57c9;
}

.espaco{
    height: 100px;
    background-color: white;
}

.destaque{
    background-color: rgba(230,230,230,0.4)
}

/* celular */

.containerSlide-celular{
    max-width: 90%;
    margin: 0 auto;
}

.images-data-celular {
    transform: translate(0%,10%);
    transform: translate(0%,10%);
    transform: translate(0%,10%);

}

.image-data-single-celular{
    display: none;
    margin: 0 auto;
    width: 75%;
    height:360px;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(10%,-10%);
    transform: translate(10%,-10%);
    transform: translate(10%,-10%);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.foto{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/gsv-pro-inicio.jpg');
}

.foto2{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/J-low-mocha-teste.jpg');
}

.foto3{
    height: 720px !important;
    width:auto;
    width: 1480px !important;
    background-image: url('../../../images/J-low-mocha-teste.jpg');
}

.categorias-home-celular{
    margin: 0 auto;
    margin-top: 650px;
    margin-bottom: 100px;
    width: 100%;
}

.categorias-home-content-celular {
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.categorias-home-content-celular h2 {
    text-align: center;
    padding: 5px 0;
}

.categorias-home-celular .categorias-home-content-celular .categorias-single-celular {
    width: 100%;
    height: auto;
    padding: 100px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    transition: 0.5s;
    font-size: 20px;
}

.yeezy-celular {
    background-image: url('../../../images/yeezy-brand.jpg');
    margin-top: 10px;
}

.row-content-celular {
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(0%,185px);
    background-color: rgba(1,1,1,0.8);
    cursor: pointer;
}

.container-fluid {
    padding: 0!important;
    margin: 0!important;
}

.box-categorias-celular {
    margin-top: -680px;
}