<div class="container-fluid" style="margin-top: 80px;">

  <div class="row conteudo" style="margin-bottom: 5%;">
    <div class="col d-flex justify-content-center coluna-esquerda">
      <div class="carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;" [attr.src]="'http://localhost:3000/' +  images[0]"
              width="50" />
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[1]"
              width="50" />
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[2]"
              width="50" />
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[3]"
              width="50" />
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[4]"
              width="50" />
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col text-center coluna-direita" style="margin-top: 6%;">
      <h2 class="nomeProd" style="color: black;text-align: left;font-weight: normal;">{{produtos.nome}}</h2>
      <h2 class="preco" style="text-align: left;font-size: 22px;font-weight: bold;">R$ {{produtos.preco}}</h2>

      <h2 style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Tamanho</h2>
      <div *ngFor="let p of propriedades.mensagem">
        <select style="width: 101%;
                      padding: 6px;
                      border-radius: 6px;
                      cursor: pointer;
                      outline: 0;
                      border: 0px;
                      background-color: rgb(245, 245, 245);
                      color: rgb(92, 92, 92)">
          <option name="rdPropriedade" id="rdPropriedade"
          [value]='p' [(ngModel)]="valorPropriedade">{{p.nome}}</option>
        </select>
      </div>
      
      <br/>
      <button class="botao-compra" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>

      <h2 class="cep" style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Calcule seu frete: </h2>
      <mat-form-field style="width: 100%;">
        <mat-label>CEP:</mat-label>
        <input placeholder="Insira o CEP" [(ngModel)]="cep" matInput mask="00000-000" name="cep" id="cep" />
      </mat-form-field>

      <br />
      <label *ngIf="loadingPAC">PAC: {{valorFretePAC}} - {{prazoFretePAC}} Dias úteis</label><br />
      <label *ngIf="loadingSEDEX">SEDEX: {{valorFreteSEDEX}} - {{prazoFreteSEDEX}} Dias úteis</label><br />
      <button class="botao-calc-frete" (click)="consultaCEP(cep)">Calcular</button>
      <br />
    </div>
  </div>
</div>