<div class="container-fluid desktop" style="margin-top: 80px;">

  <div class="row conteudo" style="margin-bottom: 5%;">
    <div class="col d-flex justify-content-center coluna-esquerda">
      <div class="carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;" [attr.src]="'https://gsvapparel.com/api/' +  images[0]" width="50" />
            <!-- <img style="margin-top: 27%;" [attr.src]="'http://localhost:3000/' +  images[0]" width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[1]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[1]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[2]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[2]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[3]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[3]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[4]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[4]"
              width="50" /> -->
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col text-center coluna-direita" style="margin-top: 6%;">
      <h2 class="nomeProd" style="color: black;text-align: left;font-weight: normal;">{{produtos.nome}}</h2>
      <h2 class="preco" style="text-align: left;font-size: 22px;font-weight: bold;">R$ {{produtos.preco}}</h2>
      <p style="text-align: left;color: rgb(143, 143, 143);margin-top: 10px;letter-spacing: 1.5px;">em 10x de R$<span
          id="pc-calc" style="font-family: roboto;font-weight: 500;"></span></p>
      <p style="text-align: left;color: rgb(143, 143, 143);margin-top: 10px;letter-spacing: 1.5px;">ou R$<span
          id="pc-or-calc" style="font-family: roboto;font-weight: 500;"></span> (à vista com 10% de desconto via PIX)
      </p>

      <h2 style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Tamanho</h2>

      <select [(ngModel)]="valorPropriedade" class="slPropriedade">
        <option *ngFor="let p of propriedades.mensagem" [value]='p.nome' name="rdPropriedade" id="rdPropriedade">
          {{p.nome}}</option>
      </select>

      <br />
      <br />
      <button class="botao-compra" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>

      <h2 class="cep" style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Calcule seu frete:
      </h2>
      <mat-form-field style="width: 100%;">
        <mat-label>CEP:</mat-label>
        <input placeholder="Insira o CEP" [(ngModel)]="cep" matInput mask="00000-000" name="cep" id="cep" />
      </mat-form-field>

      <br />
      <label *ngIf="loadingPAC">PAC: {{valorFretePAC}} - {{prazoFretePAC}} Dias úteis</label><br />
      <label *ngIf="loadingSEDEX">SEDEX: {{valorFreteSEDEX}} - {{prazoFreteSEDEX}} Dias úteis</label><br />
      <button class="botao-calc-frete" (click)="consultaCEP(cep)">Calcular</button>
      <br />

      <div class="tabela-medidas">
        <p style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Tabela de medidas</p>
        <button class="btn-tabela" id="btn-masculino"><i class="fas fa-male"></i> Masculino</button>
        <table border="0" class="tabela tabela-masculino">
          <tr style="font-weight: bold;background-color: black;color: white;">
              <td>Tam BR</td>
              <td>Tam EUA</td>
              <td>Tam CM</td>
          </tr>
          <tr class="infos-tabela">
              <td>37</td>
              <td>6</td>
              <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
              <td>37.5</td>
              <td>6.5</td>
              <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>7</td>
            <td>25 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>39</td>
          <td>7.5</td>
          <td>25.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>39.5</td>
          <td>8</td>
          <td>26 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>40</td>
          <td>8.5</td>
          <td>26.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>40.5</td>
          <td>9</td>
          <td>27 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>41</td>
          <td>9.5</td>
          <td>27.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>42</td>
          <td>10</td>
          <td>28 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>42.5</td>
          <td>10.5</td>
          <td>28.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>43</td>
          <td>11</td>
          <td>29 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>43.5</td>
          <td>11.5</td>
          <td>29.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>44</td>
          <td>12</td>
          <td>30 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>45</td>
          <td>12.5</td>
          <td>30.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>46</td>
          <td>13</td>
          <td>31 cm</td>
        </tr>
      </table>


        <button class="btn-tabela" id="btn-feminino"><i class="fas fa-female"></i> Feminino</button>
          <table border="0" class="tabela tabela-feminino">
            <tr style="font-weight: bold;background-color: black;color: white;">
                <td>Tam BR</td>
                <td>Tam EUA</td>
                <td>Tam CM</td>
            </tr>
            <tr class="infos-tabela">
                <td>34</td>
                <td>5.5</td>
                <td>22.5 cm</td>
            </tr>
            <tr class="infos-tabela">
                <td>35</td>
                <td>6</td>
                <td>23 cm</td>
            </tr>
            <tr class="infos-tabela">
              <td>35.5</td>
              <td>6.5</td>
              <td>23.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>36</td>
            <td>7</td>
            <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37</td>
            <td>7.5</td>
            <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37.5</td>
            <td>8</td>
            <td>25 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>8.5</td>
            <td>25.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>39</td>
            <td>9</td>
            <td>26 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>39.5</td>
            <td>9.5</td>
            <td>26.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>40</td>
            <td>10</td>
            <td>27 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>40.5</td>
            <td>10.5</td>
            <td>27.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>41</td>
            <td>11</td>
            <td>28 cm</td>
          </tr>
        </table>

        <button class="btn-tabela" id="btn-infantil"><i class="fas fa-child"></i> Infantil</button>
          <table border="0" class="tabela tabela-infantil">
            <tr style="font-weight: bold;background-color: black;color: white;">
                <td>Tam BR</td>
                <td>Tam EUA</td>
                <td>Tam CM</td>
            </tr>
            <tr class="infos-tabela">
                <td>34</td>
                <td>3.5Y</td>
                <td>22.5 cm</td>
            </tr>
            <tr class="infos-tabela">
                <td>35</td>
                <td>4.5Y</td>
                <td>23.5 cm</td>
            </tr>
            <tr class="infos-tabela">
              <td>36</td>
              <td>5.5Y</td>
              <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37</td>
            <td>6Y</td>
            <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>7Y</td>
            <td>25 cm</td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>



<!-- Celular -->


<div class="container-fluid smartphone">
  <div class="row">
    <div class="col text-center">
      <h2 class="nomeProd-smartphone" >{{produtos.nome}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="carousel-smartphone">
        <owl-carousel-o [options]="customOptions">
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;" [attr.src]="'https://gsvapparel.com/api/' +  images[0]" width="50" />
            <!-- <img style="margin-top: 27%;" [attr.src]="'http://localhost:3000/' +  images[0]" width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[1]"
              width="50" />
              <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[1]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[2]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[2]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[3]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[3]"
              width="50" /> -->
          </ng-template>
          <ng-template [width]="50" carouselSlide>
            <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'https://gsvapparel.com/api/' +  images[4]"
            width="50" />
            <!-- <img style="margin-top: 27%;border: 0px solid white;" [attr.src]="'http://localhost:3000/' +  images[4]"
              width="50" /> -->
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h2 class="preco" style="text-align: left;font-size: 22px;font-weight: bold;">R$ {{produtos.preco}}</h2>
      <p style="text-align: left;color: rgb(143, 143, 143);margin-top: 10px;letter-spacing: 1.5px;">em 10x de R$<span
          id="pc-calc" style="font-family: roboto;font-weight: 500;"></span></p>
      <p style="text-align: left;color: rgb(143, 143, 143);margin-top: 10px;letter-spacing: 1.5px;">ou R$<span
          id="pc-or-calc" style="font-family: roboto;font-weight: 500;"></span> (à vista com 10% de desconto via PIX)
      </p>

      <h2 style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Tamanho</h2>

      <select (change)="atribuiValorPropriedade($event.target.innerText)" (blur)="atribuiValorPropriedade($event.target.innerText)" [(ngModel)]="valorPropriedade" class="slPropriedade">
        <option *ngFor="let p of propriedades.mensagem" [value]='p.nome' value='p.nome' name="rdPropriedade" id="rdPropriedade">
          {{p.nome}}</option>
      </select>

      <br />
      <br />
      <button class="botao-compra" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>

      <h2 class="cep" style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Calcule seu frete:
      </h2>
      <mat-form-field style="width: 100%;">
        <mat-label>CEP:</mat-label>
        <input placeholder="Insira o CEP" [(ngModel)]="cep" matInput mask="00000-000" name="cep" id="cep" />
      </mat-form-field>

      <br />
      <label *ngIf="loadingPAC">PAC: {{valorFretePAC}} - {{prazoFretePAC}} Dias úteis</label><br />
      <label *ngIf="loadingSEDEX">SEDEX: {{valorFreteSEDEX}} - {{prazoFreteSEDEX}} Dias úteis</label><br />
      <button class="botao-calc-frete" (click)="consultaCEP(cep)">Calcular</button>
      <br />

      <div class="tabela-medidas">
        <p style="text-align: left;font-weight: normal;font-size: 25px;margin-top: 50px;">Tabela de medidas</p>
        <button class="btn-tabela" id="btn-masculino-celular"><i class="fas fa-male"></i> Masculino</button>
        <table border="0" class="tabela tabela-masculino">
          <tr style="font-weight: bold;background-color: black;color: white;">
              <td>Tam BR</td>
              <td>Tam EUA</td>
              <td>Tam CM</td>
          </tr>
          <tr class="infos-tabela">
              <td>37</td>
              <td>6</td>
              <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
              <td>37.5</td>
              <td>6.5</td>
              <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>7</td>
            <td>25 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>39</td>
          <td>7.5</td>
          <td>25.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>39.5</td>
          <td>8</td>
          <td>26 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>40</td>
          <td>8.5</td>
          <td>26.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>40.5</td>
          <td>9</td>
          <td>27 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>41</td>
          <td>9.5</td>
          <td>27.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>42</td>
          <td>10</td>
          <td>28 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>42.5</td>
          <td>10.5</td>
          <td>28.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>43</td>
          <td>11</td>
          <td>29 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>43.5</td>
          <td>11.5</td>
          <td>29.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>44</td>
          <td>12</td>
          <td>30 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>45</td>
          <td>12.5</td>
          <td>30.5 cm</td>
        </tr>
        <tr class="infos-tabela">
          <td>46</td>
          <td>13</td>
          <td>31 cm</td>
        </tr>
      </table>


        <button class="btn-tabela" id="btn-feminino-celular"><i class="fas fa-female"></i> Feminino</button>
          <table border="0" class="tabela tabela-feminino">
            <tr style="font-weight: bold;background-color: black;color: white;">
                <td>Tam BR</td>
                <td>Tam EUA</td>
                <td>Tam CM</td>
            </tr>
            <tr class="infos-tabela">
                <td>34</td>
                <td>5.5</td>
                <td>22.5 cm</td>
            </tr>
            <tr class="infos-tabela">
                <td>35</td>
                <td>6</td>
                <td>23 cm</td>
            </tr>
            <tr class="infos-tabela">
              <td>35.5</td>
              <td>6.5</td>
              <td>23.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>36</td>
            <td>7</td>
            <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37</td>
            <td>7.5</td>
            <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37.5</td>
            <td>8</td>
            <td>25 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>8.5</td>
            <td>25.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>39</td>
            <td>9</td>
            <td>26 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>39.5</td>
            <td>9.5</td>
            <td>26.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>40</td>
            <td>10</td>
            <td>27 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>40.5</td>
            <td>10.5</td>
            <td>27.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>41</td>
            <td>11</td>
            <td>28 cm</td>
          </tr>
        </table>

        <button class="btn-tabela" id="btn-infantil-celular"><i class="fas fa-child"></i> Infantil</button>
          <table border="0" class="tabela tabela-infantil">
            <tr style="font-weight: bold;background-color: black;color: white;">
                <td>Tam BR</td>
                <td>Tam EUA</td>
                <td>Tam CM</td>
            </tr>
            <tr class="infos-tabela">
                <td>34</td>
                <td>3.5Y</td>
                <td>22.5 cm</td>
            </tr>
            <tr class="infos-tabela">
                <td>35</td>
                <td>4.5Y</td>
                <td>23.5 cm</td>
            </tr>
            <tr class="infos-tabela">
              <td>36</td>
              <td>5.5Y</td>
              <td>24 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>37</td>
            <td>6Y</td>
            <td>24.5 cm</td>
          </tr>
          <tr class="infos-tabela">
            <td>38</td>
            <td>7Y</td>
            <td>25 cm</td>
          </tr>
        </table>

      </div>

    </div>
  </div>

</div>