<div class="vestWelcome">
    <h2>CONFIRA NOSSOS USADOS</h2>
</div><!--vestWelcome-->




<div  class="container " id="vestWp">
    <!-- TODOS OS ITENS SERÃO ADICIONADOS AQUI, DINAMICAMENTE -->

    <div class="row ">
        <div class="col-md-4 col-sm-6 col-12
        " *ngFor="let item of roupas; " > 

        <div  class="vest-single productHy fotoCategoriaTshirt"></div>
        <div class="info-product">
            <h3>{{item.nome}}</h3>
            <p>Gênero</p>
            <p style="color:#2b922c;">R$ 200</p>
        </div>

        <div class="maismenos">
            <button class="botao-compra" (click)="adicionarCarrinho(item.idProdutos, item.nome, item.preco, item.quantidade)">Adicionar no carrinho</button>
        </div><!--maismenos-->

    </div>
</div>
