<div class="container">

    <!-- ##################################################### -->
    <div class="row">
      <div class="col-md text-center titulo">
        <h3 class="sub-buscar">Buscar Produto</h3>
        <mat-form-field class="busca" appearance="legacy">
          <input matInput (keyup)="filtroNome($event)"  placeholder="Buscar...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  
  
  
    <!-- CARD DO PRODUTO -->
    <div class="row">
      <div class="col-md-3">
        <h1>Tenis</h1>
  
  
        <div class="filtro">
          <mat-form-field class="filtro"  appearance="legacy">
            <mat-label>Filtrar por</mat-label>
            <mat-select (selectionChange)="filtros($event)">
              <mat-option *ngFor="let f of filtro"  [value]="f.value">
                {{f.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
  
        <h4>Cores</h4>
  
  
        <mat-radio-group>
          <mat-radio-button  *ngFor="let c of cores" [value]="c" (change)="filtroCores($event)">{{c}}</mat-radio-button>
        </mat-radio-group>
  
        <hr />
  
        <!-- <h4>Propriedades</h4> -->
        <h4>Marcas</h4>
  
  
        <mat-radio-group>
          <mat-radio-button  *ngFor="let m of marca" [value]="m" (change)="filtroMarcas($event)">{{m}}</mat-radio-button>
        </mat-radio-group>
    
        <hr />
  
      </div>
  
      
     
  
      <!-- <h4>Propriedades</h4> -->
  
  
      <div class="col-md-9 box-card d-flex">
  
        <div class="carregando" *ngIf="carregando">
          <img src="https://i.imgur.com/gnuXFbP.gif" width="100px">
          <p>Carregando...</p>
        </div>
  
        <div  class="container-fluid">
          <div class="row">
  
  
            <div  class="col-md-3" *ngFor="let item of produtos;">
              <mat-card class="card">
                <img mat-card-image [attr.src]="'http://localhost:3000/' + item.imagem" width="200px"
                  matTooltip="{{item.nome}}" [routerLink]="['/produto-detalhado', item.idProdutos]" />
                <mat-card-content>
                  <h2 class="nome">{{item.nome}}</h2>
                  <h3 class="preco" style="font-weight: bold;">{{item.preco | currency: 'BRL'}}</h3>
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn-visualizar" mat-button
                    [routerLink]="['/produto-detalhado', item.idProdutos, item.nome, item.preco, item.quantidade, item.imagem]">Visualizar</button>
                
                </mat-card-actions>
              </mat-card>
            </div>
          
          </div>
        </div>
  
  
      </div>
  
    </div>
  
  
  </div>