<div class="vestWelcome">
    <h2>CONFIRA NOSSOS USADOS</h2>
</div><!--vestWelcome-->




<div  class="container " id="vestWp">
    <!-- TODOS OS ITENS SERÃO ADICIONADOS AQUI, DINAMICAMENTE -->

    <div class="row ">
        <div class="col-md-4 col-sm-6 col-12"
        *ngFor="let item of produtos;" > 

        <img [attr.src]="'http://localhost:3000/' + item.imagem" width="200px" />

        <div class="info-product">
            <p>{{item.nome}}</p>
            <p>{{item.genero}}</p>
            <p style="font-weight: bold;">{{item.preco | currency: 'BRL'}}</p>
        </div>

        <div class="maismenos">
            <button class="botao-compra" (click)="adicionarCarrinho(item.idProdutos, item.nome, item.preco, item.quantidade, item.imagem)">Adicionar no carrinho</button>
        </div><!--maismenos-->

    </div>
</div>
